:root {
	--main-light: #bd9551;
	--main-dark: #2f2f30;
	--light-sky: #ededed;
	--dark-sky: #9e9e9e;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "cardo";
	font-size: 17px;
}

img {
	width: 100%;
}
.dark {
	background-color: var(--main-dark);
	color: var(--main-light);
	fill: var(--main-light);
}

.light {
	background-color: var(--main-light);
	color: var(--main-dark);
}

.section {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.section-header {
	text-transform: lowercase;
	padding: 15px 40px;
}
.subheader {
	padding-left: 40px;
	font-style: italic;
}
/* main */
.logo {
	width: 80px;
}

/* main - navigation */
.header-nav {
	display: flex;
}

.nav-link {
	text-decoration: none;
	color: var(--main-light);
}
/* about */
.about-image {
	width: 200px;
}
.text-block-pl {
	padding: 10px;
	text-align: left;
	font-style: italic;
}
.text-block-en {
	padding: 10px;
	text-align: left;
}
.text-block-center {
	text-align: center;
}

.dark-sky {
	color: var(--dark-sky);
	text-align: right;
}
/* music */

.music-list {
	padding: 20px;
}
.subheader {
	padding-left: 40px;
}
.music-item {
	line-height: 1.5;
	padding-left: 10px;
	list-style: none;
}
.music-link {
	text-decoration: none;
	color: var(--main-dark);
}

.music-link:hover,
.music-link:focus {
	font-weight: 700;
}

.author {
	font-weight: 700;
}
.title {
	font-style: italic;
}
.music-image {
	width: 200px;
}
/* gallery */

/* contact */
.contact-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
}

.contact-item {
	list-style: none;
	line-height: 1.5;
}
.contact-media {
	display: flex;
}
.contact-link {
	text-decoration: none;
	color: var(--main-dark);
}

.contact-link:hover,
.contact-link:focus {
	font-weight: 700;
}
.media-wrapper {
	width: 40px;
	height: 40px;
}
.media-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.media-link:hover,
.media-link:focus {
	background-color: var(--light-sky);
}

.menu-button {
	border: 0;
}

.svg-dark {
	fill: var(--main-dark);
}
.svg-light {
	fill: #b69553;
}

.svg-dark path {
	color: currentColor; /* Umożliwia dziedziczenie koloru z klasy */
}
.svg-light path {
	color: currentColor; /* Umożliwia dziedziczenie koloru z klasy */
}

/* mobile menu */
.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 80px 40px 40px;
	background-color: white;
	z-index: 999;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 40px;
	right: 40px;

	color: var(--navy-blue);
}

.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu-button {
	border: 0;
	position: fixed;
	top: 5px;
	right: 5px;
	background-color: transparent;
}
/* menu */
.menu {
	display: none;
}
/* footer */
.footer {
	padding: 6px;
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

/* ========================= mobile ============================== */
.box {
	width: 100%;
	padding: 10px;
}
.header-visibility {
}
/* ========================= tablet ============================== */
@media only screen and (min-width: 768px) {
	.menu {
		display: flex;
	}
}

/* ========================= desktop ============================== */
@media only screen and (min-width: 1158px) {
}
.box {
	max-width: 1920px;
}
